// Header
header.header
  .container
    .inner-wrap
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      .inner-logo
        a(href="./home.pug")
          img(
            alt="TQD.TRAVEL" 
            src="/assets/images/logo.svg"
            )
      nav.inner-menu
        ul
          li
            a.active(href="./home.pug") Trang chủ
          li
            a(href="#") Tour Trong Nước
            i.fa-solid.fa-caret-down
            ul
              li
                a.active(href="./domestic-tours.pug") Tour Miền Bắc
              li
                a(href="./domestic-tours.pug") Tour Miền Trung
              li
                a(href="./domestic-tours.pug") Tour Miền Nam
              li
                a(href="./domestic-tours.pug") Tour Xuyên Việt
          li
            a(href="#") Tour Nước Ngoài
            i.fa-solid.fa-caret-down
            ul
              li
                a(href="./domestic-tours.pug") Tour Châu Á
              li
                a(href="./domestic-tours.pug") Tour Châu Âu
              li
                a(href="./domestic-tours.pug") Tour Châu Mỹ
              li
                a(href="./domestic-tours.pug") Tour Châu Úc
          li
            a(href="#") Tin Tức
          li
            a(href="#") Liên hệ
        .inner-overlay
      .inner-cart
        a(href="./cart.pug")
          i.fa-solid.fa-cart-shopping
          span 1
// End Header