* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
}

:root {
    --orange-primary: #ff5b26;
    --light-orange: #ff5c26a2;
    --Yellow-Light: #fff9e5;
    --Grey: #4e5358;
    --Dark: #191b1d;
    --White: #fff;
    --Green: #1eb482;
    --Yellow: #ffc200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

main {
    background: #fff8f1;
}

/* COMMON */

/* CONTAINER */
.container {
    width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}
/* END CONTAINER */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 180px;
    height: 60px;
    line-height: 60px;
    border-radius: 60px;
    background: var(--orange-primary);
    color: var(--White, #fff);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.8;
}

/* HEADER */
.header {
    background: var(--Yellow-Light);
    padding-top: 46px;
    padding-bottom: 70px;
}

/* HEADER-TOP */
.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .inner-logo img {
    height: 34px;
    width: auto;
}

.header-top .nav-list {
    display: flex;
}

.header-top .nav-list .nav-item a {
    padding: 8px 21px;
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 175% */
}

.header-top .nav-list .nav-item a:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-top .header-action {
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.header-top .header-action .action-link {
    color: var(--Dark);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%; /* 175% */
}

.header-top .header-action .action-btn {
    min-width: 107px;
    height: 44px;
    line-height: 44px;
    font-size: 1.6rem;
}

.header .inner-menu-mobile {
    display: none;
}

/* CART */
.header .inner-cart a {
    display: inline-flex;
    align-items: center;
}

.header .inner-cart img {
    height: 26px;
    width: auto;
    margin-right: 1.5px;
}

.header .inner-cart span {
    background-color: #ff3904;
    border-radius: 3px;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    width: 15px;
    height: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .inner-cart span::before {
    content: "\f0d9";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #ff3904;
    font-size: 8px;
    position: absolute;
    top: 2.5px;
    left: -2.5px;
}

@media (max-width: 1199.98px) {
    .header-top .nav-list .nav-item a {
        padding: 8px 13px;
        font-size: 1.5rem;
    }
}

@media (max-width: 991.98px) {
    .header-top .nav {
        display: none;
    }

    .header .inner-menu-mobile {
        display: inline-block;
        font-size: 2.2rem;
        color: #252b2b;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
}

@media (max-width: 575.98px) {
    .header-top .header-action {
        flex-direction: column;
        gap: 5px;
    }
}

/* END HEADER TOP */

/* HERO */
.hero {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-content {
    width: 48.72%;
}

.hero .hero-media {
    flex: 1;
}

.hero .hero-media .tour-guide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content .title {
    color: var(--Dark);
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.hero-content .title .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.hero-content .desc {
    margin-top: 18px;
    color: var(--Grey, #4e5358);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}

/* SEARCH-BAR */
.hero-content .search-bar {
    margin-top: 38px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 42px;
    background: var(--White, #fff);
    box-shadow: 0px 20px 90px 0px rgba(157, 110, 0, 0.1);
}

.hero-content .search-bar .input-group {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.hero-content .search-bar .input-group .icon {
    font-size: 2.4rem;
}

.hero-content .search-bar .input-group input {
    border: none;
    outline: none;
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 175% */
}

/* .hero-content .search-bar .divider {
    width: 1px;
    height: 60px;
    background: #d9dee2;
} */

/* .hero-content .search-bar .search-input {
    margin-left: auto;
} */

.hero-content .search-bar .search-btn {
    min-width: 100px;
    font-size: 1.8rem;
    border: none;
}

.hero-content .search-bar .search-btn:hover {
    cursor: pointer;
}

@media (max-width: 1199.98px) {
    .hero .hero-media {
        display: none;
    }

    .hero .hero-content {
        width: 100%;
    }

    .hero-content .title {
        font-size: 10.6rem;
    }

    .hero-content .desc {
        font-size: 2.4rem;
    }
}

@media (max-width: 991.98px) {
    .hero-content .title {
        font-size: 7.2rem;
    }

    .hero-content .desc {
        font-size: 1.8rem;
    }
}

@media (max-width: 767.98px) {
    .hero-content .search-bar .search-btn {
        min-width: 77px;
    }
}

@media (max-width: 575.98px) {
    .hero-content .title {
        font-size: 6.2rem;
    }

    .hero-content .search-bar {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .hero-content .search-bar .input-group,
    .hero-content .search-bar .search-input {
        width: 100%;
    }

    .hero-content .search-bar .search-input .search-btn {
        width: 100%;
    }
}

/* END HERO */

/* HEADER-EXPERIENCE */
.header-experience {
    margin-top: 90px;
    display: flex;
    gap: 0 30px;
}

.header-experience .experience-block {
    display: flex;
    gap: 0 24px;
}

.header-experience .experience-block .icon-experience {
    width: 64px;
    height: 64px;
}

.experience-block .experience-content .heading {
    color: var(--Dark);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 125%; /* 125% */
}

@media (max-width: 767.98px) {
    .header-experience {
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* END HEADER EXPERIENCE */

.experience-block .experience-content .desc {
    margin-top: 8px;
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 175% */
}

/* PERFECT */

.perfect .perfect-inner {
    padding-top: 159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfect-inner .perfect-info {
    width: 48.72%;
}

.perfect-inner .perfect-info .heading {
    color: var(--Dark);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 107.692%; /* 107.692% */
}

.perfect-inner .perfect-info .info-desc {
    margin-top: 39px;
    display: flex;
    gap: 0 24px;
}

.perfect-inner .perfect-info .info-desc .minus-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--orange-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfect-inner .perfect-info .info-desc .body h6 {
    color: var(--orange-primary);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 125%; /* 125% */
}

.perfect-inner .perfect-info .info-desc .body .desc {
    margin-top: 16px;
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 175% */
}

.perfect-inner .perfect-info .list-desc {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.perfect-inner .perfect-info .list-desc .line {
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.perfect-inner .perfect-info .list-desc .line .item-desc {
    color: var(--Dark);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 125%; /* 125% */
}

.perfect-inner .perfect-media {
    aspect-ratio: 470/530;
}

.perfect-inner .perfect-media .perfect-plan {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .perfect-inner {
        flex-direction: column;
        gap: 30px;
    }

    .perfect-inner .perfect-info .heading {
        font-size: 4.8rem;
    }
}

@media (max-width: 575.98px) {
    .perfect-inner .perfect-info .heading {
        font-size: 3.5rem;
    }
}
/* END PERFECT */

/* SHARING */
.sharing {
    margin-top: 150px;
}

.sharing .sharing-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sharing .sharing-inner .sharing-content {
    width: 48.72%;
}

.sharing .sharing-inner .sharing-content .heading {
    color: var(--Dark);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 107.692%; /* 107.692% */
}

.sharing .sharing-inner .sharing-content .desc {
    margin-top: 18px;
    color: var(--Grey);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}

.sharing .sharing-inner .sharing-content .list {
    margin-top: 28px;
}

.sharing .sharing-inner .sharing-content .item {
    margin-top: 12px;
    color: var(--Dark);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 166.667% */
}

.sharing .sharing-inner .sharing-content .btn {
    margin-top: 38px;
}

@media (max-width: 991.98px) {
    .sharing .sharing-inner {
        flex-direction: column;
        gap: 30px;
    }

    .sharing .sharing-inner .sharing-content .heading {
        font-size: 5rem;
    }
}

@media (max-width: 767.98px) {
    .sharing .sharing-inner .sharing-content .heading {
        font-size: 3.7rem;
    }
}

@media (max-width: 575.98px) {
    .sharing .sharing-inner .sharing-content .heading {
        font-size: 2.7rem;
    }
}
/* END SHARING */

/* Domestic Tours */
.domestic-tours {
    margin-top: 150px;
}

.domestic-tours .heading {
    color: var(--Dark);
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
}

.product-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #fff;
    box-shadow: 0px 2.38px 2.38px 0px #00000040;
    border-radius: 10px;
    overflow: hidden;
}

.product-item .inner-image {
    aspect-ratio: 280/237;
    margin-bottom: -13px;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-discount {
    background: #da0808;
    border-radius: 0 32px 32px 0;
    display: inline-flex;
    align-items: center;
    padding: 3px 5px;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    gap: 6px;
}

.product-item .inner-discount i {
    font-size: 10px;
    color: #ffcb06;
}

.product-item .inner-content {
    padding: 16px;
}

.product-item .inner-content .inner-title {
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 6px;
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 36px; */
}

.product-item .inner-content .inner-title a {
    color: var(--Dark);
}

.product-item .inner-content .inner-title a:hover {
    color: var(--orange-primary);
}

.product-item .inner-content .inner-prices {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 11.5px;
    margin-bottom: 9.5px;
}

.product-item .inner-content .inner-prices .inner-price-old {
    font-weight: 600;
    font-size: 15px;
    color: #52575c;
    text-decoration: line-through;
}

.product-item .inner-content .inner-prices .inner-price-old .inner-unit {
    text-decoration: underline;
}

.product-item .inner-content .inner-prices .inner-price-new {
    font-weight: 700;
    font-size: 15px;
    color: #da0808;
}

.product-item .inner-content .inner-prices .inner-price-new .inner-unit {
    text-decoration: underline;
}

.product-item .inner-content .inner-desc {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-item .inner-content .inner-desc-item {
    color: #8c8c8c;
    font-weight: 400;
    font-size: 11px;
}

.product-item .inner-content .inner-desc-item b {
    font-weight: 700;
}

.product-item .inner-content .inner-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.product-item .inner-content .inner-meta .inner-rating {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.product-item .inner-content .inner-meta .inner-rating .inner-stars {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    color: #ffd600;
}

.product-item .inner-content .inner-meta .inner-rating .inner-number {
    font-weight: 400;
    font-size: 11px;
    color: #8c8c8c;
}

.product-item .inner-content .inner-meta .inner-stock {
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.product-item .inner-content .inner-meta .inner-stock .inner-label {
    font-weight: 700;
    font-size: 11px;
    color: var(--Dark);
}

.product-item .inner-content .inner-meta .inner-stock .inner-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #da0808;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.domestic-tours .container .product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 1199.98px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991.98px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .domestic-tours {
        padding-bottom: 45px;
    }

    .product-list {
        gap: 10px;
    }

    .product-item .inner-content {
        padding: 10px;
    }

    .domestic-tours .inner-button {
        margin-top: 25px;
    }
}

/* END DOMESTIC TOURS */
/* TRAVEL DIARY */
.travel-diary {
    margin-top: 150px;
}

.travel-diary .diary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel-diary .diary-header .heading {
    color: var(--Dark);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 107.692%; /* 107.692% */
}

.travel-diary .diary-list {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.travel-diary .diary-list .diary-thumb {
    aspect-ratio: 570/370;
}

.travel-diary .diary-list .diary-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.travel-diary .diary-list .heading a {
    display: inline-block;
    margin-top: 20px;
    color: var(--Dark);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 127.273%; /* 127.273% */
}

.travel-diary .diary-list .heading a:hover {
    color: var(--orange-primary);
}

.travel-diary .diary-list .desc {
    margin-top: 16px;
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 175% */
}

.travel-diary .learn-more {
    margin-top: 16px;
    color: var(--Dark);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%; /* 175% */
}

.travel-diary .learn-more:hover {
    cursor: pointer;
    color: var(--orange-primary);
}

@media (max-width: 991.98px) {
    .travel-diary .diary-header .heading {
        font-size: 4.2rem;
    }
}

@media (max-width: 767.98px) {
    .travel-diary .diary-header .heading {
        font-size: 3.2rem;
    }
}

@media (max-width: 575.98px) {
    .travel-diary .diary-header .heading {
        font-size: 2.2rem;
    }

    .travel-diary .btn {
        min-width: 135px;
    }

    .travel-diary .diary-list {
        grid-template-columns: 1fr;
    }
}

/* TRAVEL MATTER */
.travel-matter {
    margin-top: 150px;
    padding: 100px 0;
    background: var(--Green);
    background-image: url(../img/background-travel.svg);
}

.travel-matter .matter-inner {
    display: flex;
    gap: 0 15px;
    align-items: center;
}

.travel-matter .matter-inner .matter-info {
    width: 48.72%;
}

.travel-matter .matter-inner .matter-info .heading {
    color: #fff;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 107.692%; /* 107.692% */
}

.travel-matter .matter-inner .matter-info .desc {
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}

.travel-matter .matter-inner .matter-btn {
    background: var(--Yellow);
    color: var(--Dark);
    font-size: 1.8rem;
    font-weight: 600;
}

@media (max-width: 767.98px) {
    .travel-matter .matter-inner {
        flex-direction: column;
        gap: 15px;
    }
}

/* END TRAVEL MATTER */

/* Footer */
.footer {
    background-color: #ececec;
    border-radius: 40px 40px 0 0;
    padding: 60px 0 40px 0;
}

.footer .inner-top {
    background: #fdc830; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f37335,
        #fdc830
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 16px;
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer .inner-top .inner-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #fdfdfd;
    width: 389px;
    text-transform: capitalize;
}

.footer .inner-top .inner-form {
    background-color: white;
    border-radius: 14px;
    padding: 12px;
    flex: 1;
    display: flex;
    gap: 12px;
}

.footer .inner-top .inner-form input {
    flex: 1;
    height: 48px;
    padding: 0 28px;
    border: 1px solid #99a2a5;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}

.footer .inner-top .inner-form input::placeholder {
    color: #99a2a5;
}

.footer .inner-top .inner-form button {
    height: 48px;
    background-color: var(--orange-primary);
    border-radius: 8px;
    padding: 0 23.5px;
    font-weight: 500;
    font-size: 16px;
    color: #fdfdfd;
    border: 0;
    cursor: pointer;
}

.footer .inner-middle {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .inner-middle .inner-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.footer .inner-middle .inner-links a {
    font-weight: 500;
    font-size: 14px;
    color: #25282b;
}

.footer .inner-middle .inner-links a:hover {
    color: var(--orange-primary);
}

.footer .inner-middle .inner-socials ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.footer .inner-middle .inner-socials a {
    font-size: 24px;
    color: #25282b;
}

.footer .inner-middle .inner-socials a:hover {
    color: var(--orange-primary);
}

.footer .inner-bottom {
    padding-top: 40px;
    border-top: 1px solid #ccd1d2;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.footer .inner-bottom .inner-copyright,
.footer .inner-bottom .inner-links {
    flex: 1;
}

.footer .inner-bottom .inner-copyright {
    font-weight: 500;
    font-size: 13px;
    color: #667479;
}

.footer .inner-bottom .inner-logo img {
    height: 50px;
    width: auto;
}

.footer .inner-bottom .inner-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.footer .inner-bottom .inner-links a {
    font-weight: 500;
    font-size: 13px;
    color: #667479;
}

.footer .inner-bottom .inner-links a:hover {
    color: var(--orange-primary);
}

@media (max-width: 991.98px) {
    .footer .inner-top {
        flex-wrap: wrap;
    }

    .footer .inner-top .inner-title {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .footer .inner-middle {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .footer .inner-bottom {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .footer .inner-bottom .inner-copyright {
        order: 2;
        flex: none;
    }

    .footer .inner-bottom .inner-logo {
        order: 0;
    }

    .footer .inner-bottom .inner-links {
        order: 1;
        width: 100%;
        flex: none;
    }

    .footer .inner-bottom .inner-links ul {
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .footer .inner-middle .inner-links ul {
        flex-wrap: wrap;
        gap: 10px 25px;
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .footer {
        border-radius: 25px 25px 0 0;
        padding: 40px 0;
    }

    .footer .inner-top {
        padding: 20px;
        gap: 20px;
    }

    .footer .inner-top .inner-form {
        flex-wrap: wrap;
    }

    .footer .inner-top .inner-form button {
        width: 100%;
        font-size: 14px;
    }

    .footer .inner-middle {
        margin-top: 30px;
    }

    .footer .inner-middle .inner-socials ul {
        gap: 25px;
    }

    .footer .inner-bottom {
        padding-top: 30px;
        margin-top: 30px;
    }

    .footer .inner-bottom .inner-links ul {
        gap: 25px;
    }
}
/* End Footer */

/* Box Contact */
.box-contact {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 999;
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f5af19,
        #f12711
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f5af19,
        #f12711
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 2px 4px 0px #00000026;
    border-radius: 10px;
    padding: 12px 10px;
}

.box-contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box-contact ul a {
    font-size: 19px;
    color: white;
}

@media (max-width: 575.98px) {
    .box-contact {
        display: none;
    }
}
/* End Box Contact */

/* ----------------------------------------------------------- */

/* TRANG DANH SACH TOUR */

/* BOX BREADCRUMB */
.box-breadcrumb {
    position: relative;
}

.box-breadcrumb .inner-image {
    height: 253px;
}

.box-breadcrumb .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-breadcrumb .inner-content {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(69, 2, 199, 0.5) 100%
    );
    box-shadow: 0px 0px 4px 0px #00000040;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.box-breadcrumb .inner-content .inner-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 3.2rem;
    color: var(--White);
    line-height: 1.375;
}

.box-breadcrumb .inner-content .inner-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 16px;
}

.box-breadcrumb .inner-content .inner-links ul li {
    display: inline-flex;
    gap: 16px;
    align-items: center;
}

.box-breadcrumb .inner-content .inner-links ul li a {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--White);
    letter-spacing: 0.15px;
    line-height: 1.5;
}

.box-breadcrumb .inner-content .inner-links ul li i {
    font-size: 1rem;
    color: var(--White);
}

.box-breadcrumb .inner-content .inner-links ul li:last-child i {
    display: none;
}

@media (max-width: 991.98px) {
    .box-breadcrumb .inner-content {
        padding-bottom: 15px;
    }

    .box-breadcrumb .inner-content .inner-title {
        font-size: 2.4rem;
    }

    .box-breadcrumb .inner-content .inner-links ul {
        gap: 5 10px;
    }

    .box-breadcrumb .inner-content .inner-links ul li {
        gap: 10px;
    }

    .box-breadcrumb .inner-content .inner-links ul li a {
        font-size: 1.3rem;
    }
}

@media (max-width: 575.98px) {
    .box-breadcrumb .inner-content .inner-title {
        font-size: 2rem;
    }

    .box-breadcrumb .inner-content .inner-links ul li a {
        font-size: 1.1rem;
    }

    .box-breadcrumb .inner-content .inner-links ul li i {
        font-size: 0.8rem;
    }
}
/* END BOX BREADCRUMB */

/* SECTION 9 */
.section-9 {
    padding: 60px 0;
}

.section-9 .inner-wrap {
    display: grid;
    grid-template-columns: 279fr 882fr;
    gap: 23px;
}

.section-9 .inner-info {
    margin-bottom: 10px;
}

.section-9 .inner-info .inner-title {
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--orange-primary);
}

.section-9 .inner-info .inner-desc {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--Grey);
}

.section-9 .inner-info-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.section-9 .inner-info-2 .inner-sort {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 16px;
}

.section-9 .inner-info-2 .inner-sort .inner-label {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--Grey);
}

.section-9 .inner-info-2 .inner-sort .inner-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-9 .inner-info-2 .inner-sort .inner-list button {
    border: 0;
    outline: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Grey);
    cursor: pointer;
}

.section-9 .inner-info-2 .inner-sort .inner-list button.active,
.section-9 .inner-info-2 .inner-sort .inner-list button:hover {
    color: var(--orange-primary);
}

.section-9 .inner-info-2 .inner-sort .inner-list button i {
    font-size: 1.6rem;
    margin-left: 5px;
}

.section-9 .inner-info-2 .inner-count-record {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--Grey);
}

.section-9 .inner-list-tour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section-9 .inner-filter-mobile {
    display: none;
}

@media (max-width: 991.98px) {
    .section-9 .inner-left {
        display: none;
    }

    .section-9 .inner-right {
        width: 100%;
    }

    .section-9 .inner-info-2 .inner-sort {
        flex: none;
        width: 100%;
        margin-bottom: 16px;
    }

    .section-9 .inner-info-2 .section-9 .inner-filter-mobile {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        font-weight: 600;
        font-size: 1.4rem;
        color: var(--orange-primary);
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    .section-9 .inner-filter-mobile i {
        font-size: 1.6rem;
    }
}

@media (max-width: 767.98px) {
    .section-9 .inner-list-tour {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .section-9 {
        padding: 45px 0;
    }

    .section-9 .inner-info .inner-title {
        font-size: 2.4rem;
    }

    .section-9 .inner-list-tour {
        gap: 10px;
    }

    .section-9 .inner-list-tour .product-item .inner-content {
        padding: 10px;
    }
}
/* END SECTION 9 */

/* BOX FILTER */
.box-filter {
    background: var(--White);
    box-shadow: 0px 0px 4px 0px #00000040;
    border-radius: 10px;
    padding: 15px;
}

.box-filter .inner-head {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-filter .inner-head .inner-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.555;
    color: var(--orange-primary);
}

.box-filter .inner-head i {
    font-size: 2rem;
    color: var(--orange-primary);
}

.box-filter .inner-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box-filter .inner-group .inner-label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    color: #898b8d;
}

.box-filter .inner-group select,
.box-filter .inner-group input[type="date"] {
    width: 100%;
    height: 38px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    color: #898b8d;
    border: 1px solid #898b8d;
    border-radius: 5px;
    outline: none;
}

.box-filter .inner-group .inner-input-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-filter .inner-group .inner-input-item {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    color: #898b8d;
    border: 1px solid #898b8d;
    border-radius: 5px;
}

.box-filter .inner-group .inner-input-label {
    flex: 1;
}

.box-filter .inner-group .inner-input-item input {
    width: 45px;
    border: 0;
    color: #898b8d;
    font-size: 1.4rem;
}

.box-filter .inner-group .inner-button {
    width: 100%;
    height: 38px;
    border: 0;
    background: var(--orange-primary);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--White);
    cursor: pointer;
}
/* END BOX FILTER */

/* BOX PAGINATION */
.box-pagination {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.box-pagination button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--orange-primary);
    border-right-width: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--orange-primary);
    cursor: pointer;
}

.box-pagination button i {
    font-size: 1rem;
}

.box-pagination button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box-pagination button:last-child {
    border-right-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-pagination button.active,
.box-pagination button:hover {
    color: var(--White);
    background: var(--orange-primary);
}
/* END PAGINATION */

/* Section 10 */
.section-10 {
    padding: 60px 0;
}

.section-10 .inner-wrap {
    display: grid;
    grid-template-columns: 695fr 469fr;
    gap: 20px;
}

@media (max-width: 991.98px) {
    .section-10 .inner-wrap {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .section-10 .inner-left {
        order: 1;
    }
}

@media (max-width: 575.98px) {
    .section-10 {
        padding: 45px 0;
    }
}
/* End Section 10 */

/* Box Images */
.box-images .inner-images-main {
    margin-bottom: 30px;
}

.box-images .inner-images-main .inner-image {
    aspect-ratio: 695/480;
    border-radius: 10px;
    overflow: hidden;
}

.box-images .inner-images-main .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-images .inner-images-thumb {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box-images .inner-images-thumb .inner-image {
    aspect-ratio: 166/129;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.box-images .inner-images-thumb .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .box-images .inner-images-main {
        margin-bottom: 15px;
    }

    .box-images .inner-images-thumb {
        gap: 5px;
    }
}
/* End Box Images */

/* Box Tour Detail */
.box-tour-detail {
    background-color: #fff;
    box-shadow: 0px 1.75px 3.51px 0px #0000001f;
    border-radius: 10px;
    padding: 24px;
    position: sticky;
    top: 0;
    left: 0;
}

.box-tour-detail .inner-title-main {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange-primary);
    margin-bottom: 15px;
}

.box-tour-detail .inner-product {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.box-tour-detail .inner-product .inner-image {
    width: 132px;
    aspect-ratio: 132/98;
    border-radius: 10px;
    overflow: hidden;
}

.box-tour-detail .inner-product .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-tour-detail .inner-product .inner-info {
    flex: 1;
}

.box-tour-detail .inner-product .inner-info .inner-title {
    font-weight: 400;
    font-size: 16px;
    color: var(--orange-primary);
    margin-bottom: 8px;
}

.box-tour-detail .inner-product .inner-info .inner-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.box-tour-detail .inner-product .inner-info .inner-stars {
    display: inline-flex;
    gap: 3px;
    font-size: 15px;
    color: #ffd600;
}

.box-tour-detail .inner-product .inner-info .inner-number {
    font-weight: 300;
    font-size: 12px;
    color: #1f1f1f;
}

.box-tour-detail .inner-meta {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-tour-detail .inner-meta .inner-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5d5e60;
    font-weight: 400;
    font-size: 14px;
}

.box-tour-detail .inner-meta .inner-item i {
    font-size: 16px;
}

.box-tour-detail .inner-meta .inner-item .inner-hl {
    color: var(--orange-primary);
}

.box-tour-detail .inner-group {
    margin-bottom: 15px;
}

.box-tour-detail .inner-group .inner-label {
    font-weight: 400;
    font-size: 14px;
    color: #5d5e60;
    margin-bottom: 5px;
}

.box-tour-detail .inner-group select {
    width: 100%;
    height: 38px;
    border: 1px solid #9ea0a3;
    border-radius: 5px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 14px;
    color: #5d5e60;
}

.box-tour-detail .inner-group .inner-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-tour-detail .inner-group .inner-item {
    display: flex;
    gap: 16px;
}

.box-tour-detail .inner-group .inner-item-label {
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    color: #5d5e60;
}

.box-tour-detail .inner-group .inner-item-input input {
    width: 45px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    color: #898b8d;
}

.box-tour-detail .inner-group .inner-item-price {
    flex: 1;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #898b8d;
}

.box-tour-detail .inner-group .inner-item-price .inner-hl {
    color: var(--orange-primary);
}

.box-tour-detail .inner-total {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-tour-detail .inner-total .inner-label {
    font-weight: 400;
    font-size: 16px;
    color: #5d5e60;
}

.box-tour-detail .inner-total .inner-price {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange-primary);
}

.box-tour-detail .inner-button-add-cart {
    width: 100%;
    height: 44px;
    border: 0;
    background-color: var(--orange-primary);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .box-tour-detail {
        padding: 15px;
    }

    .box-tour-detail .inner-title-main {
        font-size: 16px;
    }

    .box-tour-detail .inner-product .inner-image {
        width: 103px;
    }

    .box-tour-detail .inner-product .inner-info .inner-title {
        font-size: 14px;
    }

    .box-tour-detail .inner-product .inner-info .inner-stars {
        font-size: 12px;
    }

    .box-tour-detail .inner-product .inner-info .inner-number {
        font-size: 10px;
    }

    .box-tour-detail .inner-total {
        margin-bottom: 15px;
    }
}
/* End Box Tour Detail */

/* Box Tour Info */
.box-tour-info {
    background-color: white;
    box-shadow: 0px 1.75px 3.51px 0px #0000001f;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.box-tour-info .inner-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange-primary);
    margin-bottom: 15px;
}

.box-tour-info .inner-content p {
    font-weight: 300;
    font-size: 14px;
    color: #080a12;
    margin-top: 0;
    margin-bottom: 10px;
}

.box-tour-info .inner-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box-tour-info .inner-read-more {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 575.98px) {
    .box-tour-info {
        padding: 15px;
    }
}
/* End Box Tour Info */

/* Box Tour Schedule */
.box-tour-schedule {
    margin-top: 30px;
}

.box-tour-schedule .inner-title-main {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange-primary);
    margin-bottom: 15px;
}

.box-tour-schedule .inner-list {
    display: grid;
    gap: 15px;
    position: relative;
}

.box-tour-schedule .inner-list::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--orange-primary);
}

.box-tour-schedule .inner-item {
    margin-left: 15px;
    position: relative;
}

.box-tour-schedule .inner-item::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--orange-primary);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: -19.5px;
}

.box-tour-schedule .inner-item .inner-title {
    background-color: var(--orange-primary);
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}

.box-tour-schedule .inner-item .inner-content {
    background-color: white;
    box-shadow: 0px 1.75px 3.51px 0px #0000001f;
    border-radius: 10px;
    padding: 20px;
}

.box-tour-schedule .inner-item .inner-content p {
    font-weight: 300;
    font-size: 14px;
    color: #080a12;
    margin-top: 0;
    margin-bottom: 10px;
}

.box-tour-schedule .inner-item .inner-content img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 575.98px) {
    .box-tour-schedule .inner-item .inner-content {
        padding: 15px;
    }
}
/* End Box Tour Schedule */

/* Section 11 */
.section-11 {
    padding: 60px 0 30px 0;
}

.section-11 .inner-wrap {
    max-width: 902px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 3.05px 3.81px 0px #00000026;
    border-radius: 18px;
    padding: 30px 20px;
}

.section-11 .inner-head {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-11 .inner-head .inner-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange-primary);
}

.section-11 .inner-head .inner-back {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 15px;
    color: #52575c;
}

.section-11 .inner-head .inner-back:hover {
    color: var(--orange-primary);
}

.section-11 .inner-head .inner-back i {
    font-size: 12px;
}

.section-11 .inner-tour-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 21fr 511fr 309fr;
    gap: 10px;
}

.section-11 .inner-tour-item .inner-actions {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.section-11 .inner-tour-item .inner-actions .inner-delete {
    width: 21px;
    height: 21px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #828282;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.section-11 .inner-tour-item .inner-actions .inner-delete:hover {
    color: red;
}

.section-11 .inner-tour-item .inner-actions .inner-check {
    width: 21px;
    height: 21px;
    accent-color: var(--orange-primary);
    margin: 0;
}

.section-11 .inner-tour-item .inner-product {
    display: grid;
    grid-template-columns: 178fr 318fr;
    gap: 15px;
}

.section-11 .inner-tour-item .inner-product .inner-image {
    aspect-ratio: 178/149;
    border-radius: 8px;
    overflow: hidden;
}

.section-11 .inner-tour-item .inner-product .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-11 .inner-tour-item .inner-product .inner-content .inner-title {
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section-11 .inner-tour-item .inner-product .inner-content .inner-title a {
    color: #25282b;
    font-weight: 500;
    font-size: 16px;
}

.section-11
    .inner-tour-item
    .inner-product
    .inner-content
    .inner-title
    a:hover {
    color: var(--orange-primary);
}

.section-11 .inner-tour-item .inner-product .inner-content .inner-meta {
    display: grid;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #8c8c8c;
}

.section-11 .inner-tour-item .inner-product .inner-content .inner-meta b {
    font-weight: 600;
}

.section-11 .inner-tour-item .inner-quantity .inner-label {
    margin-bottom: 8px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    color: #5d5e60;
}

.section-11 .inner-tour-item .inner-quantity .inner-list {
    display: grid;
    gap: 26px;
}

.section-11 .inner-tour-item .inner-quantity .inner-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-11 .inner-tour-item .inner-quantity .inner-item-label {
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    color: #5d5e60;
}

.section-11 .inner-tour-item .inner-quantity .inner-item-input input {
    width: 45px;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    color: #898b8d;
}

.section-11 .inner-tour-item .inner-quantity .inner-item-price {
    flex: 1;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #898b8d;
}

.section-11 .inner-tour-item .inner-quantity .inner-item-price .inner-hl {
    color: var(--orange-primary);
}

.section-11 .inner-coupon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.section-11 .inner-coupon form {
    width: 429px;
    display: flex;
}

.section-11 .inner-coupon form input {
    flex: 1;
    height: 40px;
    border: 1px solid #9ea0a3;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.section-11 .inner-coupon form button {
    height: 40px;
    background-color: var(--orange-primary);
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 0 24px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.section-11 .inner-list-price {
    display: grid;
    gap: 16px;
}

.section-11 .inner-list-price .inner-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-11 .inner-list-price .inner-item .inner-label {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.section-11 .inner-list-price .inner-item .inner-price {
    font-weight: 400;
    font-size: 17px;
    color: #333333;
}

.section-11 .inner-list-price .inner-item .inner-price-hl {
    font-weight: 700;
    font-size: 22px;
    color: var(--orange-primary);
}

@media (max-width: 991.98px) {
    .section-11 .inner-tour-item {
        grid-template-columns: 1fr;
    }

    .section-11 .inner-tour-item .inner-actions {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (max-width: 575.98px) {
    .section-11 {
        padding-top: 45px;
    }

    .section-11 .inner-wrap {
        padding: 20px 15px;
    }

    .section-11 .inner-head .inner-title {
        font-size: 16px;
    }

    .section-11 .inner-head .inner-back {
        font-size: 12px;
    }

    .section-11 .inner-head .inner-back i {
        font-size: 10px;
    }

    .section-11 .inner-tour-item {
        padding-bottom: 10px;
    }

    .section-11 .inner-tour-item .inner-product {
        grid-template-columns: 118fr 185fr;
        gap: 10px;
    }

    .section-11 .inner-tour-item .inner-product .inner-content .inner-title a {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .section-11 .inner-tour-item .inner-product .inner-content .inner-meta {
        gap: 3px;
        font-size: 12px;
    }

    .section-11 .inner-tour-item .inner-quantity .inner-label {
        text-align: left;
    }

    .section-11 .inner-coupon form {
        width: 100%;
    }
}
/* End Section 11 */

/* Section 12 */
.section-12 {
    padding-bottom: 60px;
}

.section-12 .inner-wrap {
    max-width: 902px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 3.05px 3.81px 0px #00000026;
    border-radius: 18px;
    padding: 30px 20px;
}

.section-12 .inner-title-main {
    font-weight: 600;
    font-size: 20px;
    color: var(--orange-primary);
    margin-bottom: 25px;
}

.section-12 .inner-info {
    margin-bottom: 30px;
}

.section-12 .inner-info .inner-list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
}

.section-12 .inner-info input,
.section-12 .inner-info textarea {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    width: 100%;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #25282b;
}

.section-12 .inner-info input {
    height: 50px;
}

.section-12 .inner-info textarea {
    height: 100px;
}

.section-12 .inner-info .inner-two-col {
    grid-column: span 2;
}

.section-12 .inner-method {
    margin-bottom: 30px;
}

.section-12 .inner-method .inner-list {
    display: grid;
    gap: 10px;
}

.section-12 .inner-method .inner-item {
    display: flex;
    gap: 10px;
}

.section-12 .inner-method .inner-item input {
    width: 21px;
    height: 21px;
    accent-color: var(--orange-primary);
    margin: 0;
}

.section-12 .inner-method .inner-item label {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.section-12 .inner-method .inner-info-bank {
    margin-top: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 15px;
}

.section-12 .inner-method .inner-info-bank .inner-title {
    font-weight: 600;
    font-size: 16px;
    color: var(--orange-primary);
    margin-bottom: 10px;
}

.section-12 .inner-method .inner-info-bank .inner-desc {
    display: grid;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #4f4f4f;
}

.section-12 .inner-button {
    text-align: center;
}

.section-12 .inner-button button {
    width: 480px;
    height: 46px;
    background-color: var(--orange-primary);
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .section-12 {
        padding-bottom: 45px;
    }

    .section-12 .inner-wrap {
        padding: 20px 15px;
    }

    .section-12 .inner-title-main {
        font-size: 16px;
    }

    .section-12 .inner-info .inner-list-group {
        grid-template-columns: 1fr;
    }

    .section-12 .inner-info .inner-two-col {
        grid-column: span 1;
    }

    .section-12 .inner-button button {
        width: 100%;
    }
}
/* End Section 12 */
